{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-mad-3"> 

        </div>
        <div class="col-mad-6"> 
            <div class="header">
                <h1>Sikkim TET Eligibility Criteria</h1>
            </div>
            <br>
            <br>

            <div style="font-size: 15px;"> <strong> Sikkim TET Eligibility Criteria:</strong> <p>Sikkim Teacher’s Eligibility Test eligibility details are given below…..</p> </div>
            <h2>Eligibility Coonditions:</h2>
            <div style="font-size: 15px;"> <strong> i. Minimum Essential qualification for TET for Primary Teacher (classes I to V):</strong> <p>Senior Secondary pass (or its equivalent) with at least 50% marks for unreserved candidates and 45% marks in case of SC, ST, OBC (Central), OBC (State)  and 02 Years Diploma in Elementary Education OR Senior Secondary (or its equivalent) with at least 50% marks and 45% marks in case of SC, ST, OBC (Central), OBC (State) &  04  years Bachelor of Elementary Education (B.EL.ED) OR Senior Secondary (or its equivalent) with at least 50% marks and 45% marks in case of SC, ST,OBC (Central), OBC (State) &  02 Years Diploma in Education (special education).</p> </div>
            <div style="font-size: 15px;"> <strong>ii. Minimum Essential qualification for TET for Graduate Teacher (for classes VI to VIII):</strong> <p>B.A/ B.Sc with 50% marks and 45 % marks in case of SC, ST, OBC (Central), OBC (State) & 02 year Diploma in Elementary Education. OR B.A/ B.Sc  with atleast 50% marks and 45% marks in case of SC, ST, OBC (Central), OBC (State) & 1/2 year Bachelor in Education (B.ED) or Senior Secondary (or its equivalent) with 50% marks nd 45 % marks in case of SC, ST, OBC (Central), OBC (State) or  04 year Bachelor in Elementary Education (B.El.Ed) or Senior Secondary (or its equivalent) with 50% marks nd 45 % marks in case of SC, ST, OBC (Central), OBC (State) or  04 year B.A/B.Sc.Ed or B.A.Ed/B.Sc.Ed.</p> </div>
            <div style="font-size: 15px;"> <strong>iii.Qualifications </strong> <p> A person who intends to be either a Primary teacher or Graduate teacher will have to appear in both papers.</p> </div>
            <div style="font-size: 15px;"> <strong>Note:</strong> <p>A person who has qualified TET may also appear again for improving his/her score in the following years.</p> </div>
           
            
        </div>
        <div class="col-mad-3"> 
            
        </div>


    </div>

</div>

{% endblock %}