{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div>
            <div class="header" style=" padding: 20px;text-align: center;background: #AFCBD2 ;color: black;font-size: 30px;">
                <h1>Sikkim TET Exam Pattern</h1>
            </div>
            <div style="font-size: 15px;"><strong>Sikkim TET Exam Pattern:</strong><p>Sikkim Teacher’s Eligibility Test exam pattern details are given below…..</p></div>
            <div style="font-size: 15px;"> <strong>Exam Pattern:</strong> <p>Sikkim Teacher Eligibility Test (TET) will consists of two papers, i.e.,
                I. Paper I – Primary Teacher for Classes I to V
                II. Paper II – Graduate Teacher for Classes VI to VIII.</p> </div>
            <div style="font-size: 15px;"> <strong>Pattern of Examination:</strong> <p>TET will be of Objective type.(Multiple Choice question) There will be no negative marking. No. of MCQ (Multiple Choice question) =150. All are compulsory .Duration of examination: 2.30 hrs.</p> </div>
            <div style="font-size: 15px;"> <strong>Paper I for Primary Teacher for Classes I to V:</strong> </div>
            <div style="font-size: 15px;"> <strong>Structure and Content of TET:</strong> </div>
            <div style="font-size: 15px;"> <strong></strong> <p></p> </div>
            <div style="font-size: 15px;"> <strong></strong> <p></p> </div>

            <table class="table table-bordered" border="0">
                <tbody>
                <tr>
                <td><span style="color: #000000;">1. Child development and pedagogy</span></td>
                <td><span style="color: #000000;"> 30MCQs</span></td>
                <td><span style="color: #000000;">30 Marks</span></td>
                </tr>
                <tr>
                <td><span style="color: #000000;">2. Language I</span></td>
                <td><span style="color: #000000;"> 30MCQs</span></td>
                <td><span style="color: #000000;"> 30 Marks</span></td>
                </tr>
                <tr>
                <td><span style="color: #000000;">3. Language II</span></td>
                <td><span style="color: #000000;"> 30MCQs</span></td>
                <td><span style="color: #000000;"> 30 Marks</span></td>
                </tr>
                <tr>
                <td><span style="color: #000000;">4. Mathematics</span></td>
                <td><span style="color: #000000;"> 30MCQs</span></td>
                <td><span style="color: #000000;"> 30 Marks</span></td>
                </tr>
                <tr>
                <td><span style="color: #000000;">5. Environmental Studies</span></td>
                <td><span style="color: #000000;"> 30MCQs</span></td>
                <td><span style="color: #000000;"> 30 Marks</span></td>
                </tr>
                </tbody>
            </table>

            <div style="font-size: 15px;"> <strong>Nature and content of Question:</strong> <p>
                i. The test items on Child Development and Pedagogy will focus on educational psychology of teaching and learning relevant to the age group of 6-11 years. <br>

                ii. The test items for language I will focus on the proficiencies related to the medium of instruction that is English. <br>

                iii. The Language II will be from among the prescribed options other than Language I. A candidate may choose from any one of the vernaculars being taught in the schools in Sikkim from Classes Ito V.The applicant will specify the language in his application. <br>

                iv. The test items in Mathematics and Environmental studies will focus on the concepts, problem solving abilities and pedagogical understandings of the subjects prescribed for classes I to V in the state. <br>

                v. The questions will be based on syllabus for classes I to V, but their difficulty level, as well as linkage, will be up to the secondary stage. <br>
            </p> </div>
            <div style="font-size: 15px;"> <strong>Paper II (for graduate teacher for classes VI to VIII):</strong></div>
            <div style="font-size: 15px;"> <strong>Structure and content:</strong></div>

            <table class="table table-bordered" border="0">
                <tbody>
                <tr>
                <td><span style="color: #000000;">1. Child development and pedagogy</span></td>
                <td><span style="color: #000000;">30 MCQs</span></td>
                <td><span style="color: #000000;">30 MCQs</span></td>
                </tr>
                <tr>
                <td><span style="color: #000000;">2. Language I</span></td>
                <td><span style="color: #000000;"> 30 MCQs</span></td>
                <td><span style="color: #000000;"> 30 MCQs</span></td>
                </tr>
                <tr>
                <td><span style="color: #000000;">3. Language II</span></td>
                <td><span style="color: #000000;"> 30 MCQs</span></td>
                <td><span style="color: #000000;">30 MCQs</span></td>
                </tr>
                <tr>
                <td><span style="color: #000000;">4. Mathematics and Science</span></td>
                <td><span style="color: #000000;"> 60 MCQs</span></td>
                <td><span style="color: #000000;">30 MCQs</span></td>
                </tr>
                <tr>
                <td><span style="color: #000000;">5. Social studies (for social studies teacher)</span></td>
                <td><span style="color: #000000;"> 60 MCQs</span></td>
                <td><span style="color: #000000;">30 MCQs</span></td>
                </tr>
                </tbody>
            </table>

            <div style="font-size: 15px;"> <strong>Nature and content of questions:</strong> <p>i. The test items on Child Development and Pedagogy will focus on educational psychology of teaching and learning, relevant to the age group 11-14 years. <br>

                ii. The test items for Language I will focus on the proficiencies related to the medium of instruction, that is English., <br>
                
                iii. The Language II will be a language other than Language I. The person may choose any one language from among the available options being taught in Classes VI to VIII in the schools in Sikkim. The test items in Language II will also focus on the elements of language, communication and comprehension abilities. <br>
                
                iv. The test items in Mathematics and Science will be of 30 marks each, and will focus on the concepts, problem solving abilities and pedagogical understanding of these subjects. <br>
                
                v. The test items of Social Studies will be of 60 marks evenly distributed between History, Geography and Civics as prescribed for classes VI to VIII by the state government. <br>
                
                vi. The questions in the test for Paper II will b e based on the topics of the prescribed syllabus of the state for classes VI to VIII but, their difficulty level as well as linkage could be up to the senior secondary stage.The question paper shall be in English and questions in vernacular will be in that vernacular.
                
                Validity of TET: All candidates who pass the TET will be awarded certificate .The validity of certificate will be till he/shecrosses the employability age as per the state government norms. However, it does not cover the special exemption of higher age given to temporary in-service employees.</p> </div> <br>
            
            
            <div style="font-size: 15px;"> <strong>Validity of TET: </strong> <p>  All candidates who pass the TET will be awarded certificate .The validity of certificate will be till he/shecrosses the employability age as per the state government norms. However, it does not cover the special exemption of higher age given to temporary in-service employees.</p> </div>
           

        </div>
    </div>

</div>



{% endblock %}