{% extends 'layout.html' %}
{% block content %}
<div class="container">
<div>
    <h2 style="color: rgb(22, 18, 12); background-color:burlywood; text-align:center; padding:10px;">FAQ</h2>
</div>
<div><strong>Q No 1. How to apply for TET examination? What is the process / procedure to apply for TET exam?</strong></div>
<div><p>  Step 1- Register yourself on the TET portal to get the TET Registration ID &Password for login over registered email / Mobile <br>
     ✓Step-2 - Login - Login to TET portal using provided MTET Registration ID &Password <br>
     ✓Step-3 - Fill / Submit the Application Form with proper details <br>
     ✓Step-4 - Preview & Edit - Preview the application form in detail & if required user can editThe details before proceeding with the final payment <br>
     ✓Step-5 - Make Payment - Make exam fees Payment Online & get the payment receipt <br>
     ✓Step-6 - Transaction History - If the payment is successfully completed then get the Transactionreceipt & now you are registered for the MAHATET Exam  <br>
     ✓Step-7 - Application Print - Take the print out of the completed TET application form</p></div>
<div><strong>Q No 2. How should I get the TET Registration ID & Password after Registration?</strong></div>
<div><p>After successfulful registration TET Registration ID & Password will be sent over the emailID / Mobile number that is used at the time of registration</p></div>
<div><strong>Q No 3. How payments will be accepted?</strong></div>
<div><p>All payments will be accepted online (Through Debit Card / Credit Card / Net Banking / Walletpayments Etc.)</p></div>
<div><strong>Q No 4. How to get the User ID (TET Registration ID) & Password</strong></div>
<div><p>Candidate will complete the registration form available on the TET website, upon successful submissionCandidate will get TET Registration ID / Password over Mobile Number & Email ID provided onform (used at the time of Form Submission).</p></div>
<div><strong>Q No 5.  I didn't get the TET Registration ID & Password over email / mobile after submitting theRegistration form (Mobile / E-Mail)</strong></div>
<div><p>You can enter WRONG mobile number or Email ID, so please check your registeredEmail Inbox / Spam Box Get the TET Registration ID / Password (Vice-a-versa). If provided Mobile number & email ID are both Wrong then kindly re-register yourself with new / valid email ID &Mobile number</p></div>
<div><strong>Q No 6. What are the documents required to be uploaded on Registration / Application Form?</strong></div>
<div><p>No documents should be uploaded at the time of filling the Candidate registration form. On ApplicationThe form user will have to upload his latest Photograph & Signature separately</p></div>
<div><strong>Q No 7. How to edit the Candidate photo on the application form?</strong></div>
<div><p>Candidate can edit the photograph ONLY before making payment. Once the payment is successfullyAfter the candidate is able to edit the photo or other information in the application form.For changing photo (before making payment) click on the "Edit Application" tab, a form will openWhere the user should click on the "Choose File" option on the Candidate Application Form & upload new photo."Save & Preview" -> "Submit" the form to save the changes.</p></div>
<div><strong>Q No 8. How to edit the Candidate information</strong></div>
<div><p>e CandidateDetails on Application Form.For changing candidate information (before making payment) please select the "Preview" tab onCandidate dashboard. At the bottom of the "Preview" screen you can see the "Edit" buttonPlease click on this button to change the Candidate details on the application form.</p></div>
<div><strong>Q No 9. Have I submitted the Candidate registration form? We are done with TETApplication?</strong></div>
<div><p>Only after successful payment of the exam fee will the Candidate be successfully registeredsystem. Please take the printout of the TET application form post successful registration.</p></div>
<div><strong>Q No 10. How to pay the Candidate fees online?</strong></div>
<div><p>Once Candidate previews / confirms & submits the application form he / she gets re-directed to PaymentOn the page where the user should click on the "Make Payment" button, click on it diverts to the userGateway (Billdesk) page where users can perform payment using (Debit card / Credit cards / Netbanking etc.)</p></div>
<div><strong>Q No 11. From where can I check the payment status & download transaction receipt?</strong></div>
<div><p>Click on the "Transaction History" option on the Candidate Dashboard to check the Payment status & alsoYou can view / download the receipt for performed transactions.</p></div>
<div><strong>Q No 12. Is Aadhar Card a Mandatory Field</strong></div>
<div><p>Candidate will have to provide either his valid Aadhar card number or the Aadhar Enrollment number</p></div>
<div><strong>Q No 13. After performing the transaction getting status as “Payment Failed” what to do?</strong></div>
<div><p>If the transaction is Failed then in this case the user has to perform the transaction again. If any amountIs deducted against the Failed transaction then it gets refunded to same account within 72 - Hrs</p></div>



</div>
{% endblock %}