{% extends 'layout.html' %}
{% block content %}
<div class="container" style="text-align: left;">
    <h1>structure and Conent of STET</h1>
    <p>
        There will be two papers of CTET.
        <br>
        (i) Paper I will be for a person who intents to be a teacher for classes I to V.
        <br>
        (ii) Paper II will be for a person who intents to be a teacher for classes VI to VIII.
        <br>
        <br>
        Note: A person who intents to be a teacher for both levels (classes I to V and classes VI to VIII) will
    have to appear in both the papers (Paper I and Paper II).
        </p>
    <h2>paper I</h2> 
    <h4>FOR CLASSES I toV(Primary Stage) ;
        Duration of examination-Two-and-a-half hours
        Structure and Content (All Compulsory): (Appendix I)</h4>
    <p>
      
         <table>
             <tr>
                 <th>subjects</th>
                 <th>marks</th>
             </tr>
             <tr>
                 <td>1. child Development and pedagogy</td>
                 <td> 30 MCQs 30 Marks</td>
             </tr>
             <tr>
                 <td>2. Language I (compulsory) </td>
                 <td>30 MCQs 30 Marks</td>
             </tr>
             <tr>
                 <td>3. Language II (compulsory)</td>
                 <td>30 MCQs 30 Marks</td>
             </tr>
             <tr>
                 <td> 4. Mathematics</td>
                 <td>30 MCQs 30 Marks</td>
             </tr>
             <tr>
                 <td>5. Environmental Studies</td>
                 <td>30 MCQs 30 Marks</td>
             </tr>
             <tr>
                 <td> TOTAL:</td>
                 <td>150 MCQs 150 Marks</td>
             </tr>
         </table> 
    
    
     </p>
    <h3>Nature and standard ofquestions</h3>
    <p>
     •The test items on Child Development and Pedagogy will focus on educational psychology of
     teaching and learning relevant to the age group of 6-11 years.They will focus on
     understanding the characteristics and needs of diverse learners, interaction with learners and
     the attributes and qualities of a good facilitator of learning.
     <br>
     •The Test items in Language I will focus on the proficiencies related to the medium of
     instruction. 
     <br>
     •The Test items in Language II will focus on the elements of language, communication and
     comprehension abilities.
     <br>
     •Language II will be a language other than Language I. A candidate may choose any one
      language as Language I and other as Language II from the available language options and will
      be required to specify the same in the Confirmation Page.
     <br>
     •Opt two languages in which you wish to appear for CTET : List of languages and code are as
     <table>
         <tr>
             <th>language</th>
             <th>ode no</th>
         </tr>
         <tr>
             <td>English</td>
             <td>01</td>
         </tr>
         <tr>
             <td>Hindi</td>
             <td>02</td>
         </tr>
         <tr>
             <td>Gujrati</td>
             <td>03</td>
         </tr>
         <tr>
             <td>Garo</td>
             <td>04</td>
         </tr>
         <tr>
             <td>Marathi</td>
             <td>05</td> 
         </tr>
         <tr>
             <td>Telugu</td>
             <td>06</td>
         </tr>
         <tr>
             <td>Urdu</td>
             <td>07</td>
         </tr>
     </table>
      The Test items in Mathematics and Environmental Studies will focus on the concepts, problem
      solving abilities and pedagogical understanding and applications of the subjects. In all these
      subject areas, the test items will be evenly distributed over different divisions of the syllabus of that
      subject prescribed for classes I-V by the NCERT.
      <br>
     • The questions in the test for Paper I will be based on the topics prescribed in syllabus of the
      NCERT for classes I - V but their difficulty standard as well as linkages, could be up to the
      Secondary stage.
    </p> 
      <h2>Paper II</h2>
      <h4>FOR CLASSES VI TO VIII (Elementary Stage) :
        Duration of examination - Two-and-a-half hours
        Structure and Content (All Compulsory): (Appendix I)</h4>
        <p>
            (i) Child Development & Pedagogy(compulsory) 30 MCQs 30 Marks
            (ii) Language I (compulsory) 30 MCQs 30 Marks
            (iii) Language II (compulsory) 30 MCQs 30 Marks
            (iv) Mathematics and Science 60 MCQs 60 Marks
            (for Mathematics and Science teacher)
            OR
            (v) Social Studies/Social Science 60 MCQs 60 Marks
            (for Social Studies/Social Science teacher)
            *For any other teacher - either (IV) or (V)
            Total 150 MCQs 150 Marks
            <table>
                <tr>
                    <th>subjects</th>
                    <th>marks</th>
                </tr>
                <tr>
                    <td>Child Development & Pedagogy(compulsory)</td>
                    <td>30 MCQs 30 Marks</td>
                </tr>
                <tr>
                    <td>Language I (compulsory)</td>
                    <td>30 MCQs 30 Marks</td>
                </tr>
                <tr>
                    <td> Mathematics and Science
                        (for Mathematics and Science teacher)</td>
                        <td>60 MCQs 60 Marks</td>
                </tr>
                <tr> 
                    <td>Social Studies/Social Science 
                        (for Social Studies/Social Science teacher)</td>
                    <td>60 MCQs 60 Marks</td> 
                </tr>
                <tr>
                    <td>TOTAL:</td>
                    <td>150 MCQs 150 marks</td>
                </tr>
            </table> 
    
        </p>
        <h3>Nature and standard of questions:</h3>
        <p>
            •The test items on Child Development and Pedagogy will focus on educational psychology of
            teaching and learning, relevant to the age group of 11-14 years. They will focus on
            understanding the characteristics, needs and psychology of diverse learners, interaction with
            learners and the attributes and qualities of a good facilitator of learning. •The Test items in Language I will focus on the proficiencies related to the medium of
            instruction. 
            <br> 
            •The Test items in Language II will focus on the elements of language, communication and
            comprehension abilities. 
            <br> 
            •Language II will be a language other than Language I. A candidate may choose any one
            language as Language I and other as Language II from the available language options and will
            be required to specify the same in the Confirmation Page.
             <br>
             •Opt two languages in which you wish to appear for CTET : List of languages and code are as
            follows:
            <table>
                <tr>
                    <th>language</th>
                    <th>code no</th>
                </tr>
                <tr>
                    <td>Marathi</td>
                    <td>01</td>
                </tr>
                <tr>
                    <td>Telugu</td>
                    <td>02</td>
    
                </tr>
                <tr>
                    <td>Hindi</td>
                    <td>03</td>
    
                </tr>
                <tr>
                    <td>Urdu</td>
                    <td>04</td>
                </tr>
                <tr>
                    <td>gujrati</td>
                    <td>05</td>
                </tr>
                <tr>
                    <td>Garo</td>
                    <td>06</td>
                </tr>
                <tr>
                    <td>Tamil</td>
                    <td>07</td>
                </tr>
            </table>
    
            
            •The Test items in Mathematics and Science, and Social Studies/Social Science will focus
            on the concepts, problem solving abilities and pedagogical understanding and applications of
            the subjects. The test items of Mathematics and Science will be of 30 marks each. The test
            items will be evenly distributed over different divisions of the syllabus of that subject as
            prescribed for classes VI-Vlll by the NCERT. 
            <br>
            •The questions in the test for Paper II will be based on the topics prescribed in syllabus of the
            NCERT for classes VI - VIII but their difficulty standard as well as linkages, could be up to the
            Senior Secondary stage.
        </p>
</div>

{% endblock %}