{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="container">
        </div>
    </div>
        <div class="col-md-6">
            <div class="container">
<div class="card">
            <div class="card-header" style="text-align: center;background-color: rgb(231, 102, 26);">
             <h2>Notices</h2>
            </div>
            <div class="card-body">
             
                <table class="table table-bordered">
                    <tr>
                        <td style="width: 30rem;">Exam Postponed</td>
                        <td><a href="#">Click Here</a></td>
                      </tr>
                      <tr>
                        <td style="width: 30rem;">New Exam Date & Admit Card</td>
                        <td><a href="#">Click Here</a></td>
                      </tr>
                      <tr>
                        <td style="width: 30rem;">Exam Date Postponed Notice</td>
                        <td><a href="#">Click Here</a></td>
                      </tr>
                      <tr>
                        <td style="width: 30rem;">Apply Online</td>
                        <td><a href="#">Click Here</a></td>
                      </tr>
                      <tr>
                        <td style="width: 30rem;">Last Date Extended</td>
                        <td><a href="#">Click Here</a></td>
                      </tr>
                      <tr>
                        <td style="width: 30rem;">Eligibility Criteria</td>
                        <td><a href="#">Click Here</a></td>
                      </tr>
                      <tr>
                        <td style="width: 30rem;">Exam Pattern</td>
                        <td><a href="#">Click Here</a></td>
                      </tr>
                      <tr>
                        <td style="width: 30rem;">Notification</td>
                        <td><a href="#">Click Here</a></td>
                      </tr>
                      <tr>
                        <td style="width: 30rem;">Official Website</td>
                        <td><a href="#">Click Here</a></td>
                      </tr>
                    </table>
            </div>
          </div>
        </div>
        </div>
            <div class="col-md-3">
                <div class="container">
                </div>
            </div>
        </div>
{% endblock %}